.agency{
  height: auto;
}
.navigationName{
  display: flex;
  flex-direction: row;
  width: 170px;
  justify-content: space-between;

}
.navigationName li:nth-child(2){
  color: #E8604C;
}

.agency .agencyDivider{
  margin-top: 15px;
  position: relative;
  top: 30px;
  z-index: 2;
}