.HomePageFirstSecBackground {
  width: 100%;
  height: 551px;
  display: flex;
  background: url("/public/homePage/firstSectionBackground.svg");
}

.HomeFirstSecTitle_1 {
  color: #E8604C;
  text-align: center;
  font-family: Satisfy;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.HomeFirstSecTitle_2 {
  margin-top: 15px;
  color: #000;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Swiper Style */

.next_btn,
.prev_btn {
  margin-top: 85px;
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  cursor: pointer;
}

.topAgencyPagination {
  width: 20px;
  height: 20px;
  margin-top: 30px;
  /* background-color: #ff2200; */
}

.topAgencyPaginationContainer {
  /* background-color: #ff2200; */
  align-items: center;
}

.agency-prev:after,
.agency-next:after {
  color: #4f547b;
}


.swiper {
  padding-top: 20px;
}

.agency_avatars_wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 200px;
  overflow: hidden;
  width: 1100px;
}


.agency_avatars img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}


.agency_avatars_wrapper .agency_avatars {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 150px;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* .agency_avatars span {
  color: #211e1e;
  font-family: Solway;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  margin-top: 14px;
} */

/* Destination */
.destinationEleBox {
  display: flex;
}

.destinationType {
  margin-top: 150px;
  color: #ff2200;
  font-family: Satisfy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 30px;
}

.destinationName {
  color: #FFF;
  /* font-family: Poppins; */
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 30px;
}

.RedButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff2200;
  width: 99px;
  height: 31px;
  border-radius: 5px;
  margin-left: 30px;
}

.RedButtonEle {
  color: #FFF;
  text-align: center;
  /* font-family: Poppins; */
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.HomePopularToursContainter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}

/* Popular tours */

.popularTourCardPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  /* font-family: Poppins; */
  font-size: 17px;
  font-style: normal;
  font-weight: 910;
  line-height: normal;
}

.css-14vy9jj-JoyCard-root {
  background-color: #FFF;
  border: none;
  --Card-padding: 30px;
  box-shadow: 0px 5px 5px -3px rgb(228 228 228 / 20%), 0px 8px 10px 1px rgb(235 235 235 / 14%), 0px 3px 14px 2px rgb(110 110 110 / 12%);
}

.css-167p6rv-MuiStack-root {
  height: 645px;
}

/* Events */

/* .events_frame {
  margin-top: 45px;
  width: 100%;
  height: 700px;
  display: flex;
  overflow: hidden;
} */

/* .events_main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
} */

/* .events_main .events_text {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* .prev_next_container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .events_main .prev_next_frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 24px;
  margin-top: 30px;
} */

/* .dot_frame_pagination {
  position: relative;
  width: auto;
  display: flex;
  background-color: #ff2200;
} */

/* .events_main .events_info {
  margin-top: 75px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* .events_info .events_info_frame {
  position: relative;
  width: 579px;
  height: 447px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .events_img {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
  background-size: cover;
} */

/* .events_desc {
  position: absolute;
  padding: 10px;
  display: flex;
  width: 90%;
  height: auto;
  bottom: 5px;
  background: white;
  box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
  border-radius: 8px;
} */

/* .events_desc .events_bott {
  width: 97%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */

/* .events_desc .events_bott .bott_left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
} */

/* .bott_left .event_title_speaker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* .event_title_speaker .event_organizator {
  display: flex;
  align-items: center;
} */

/* .event_organizator .spec_text_author {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  line-height: 34px;
  color: #140324;
} */

/* .bott_left .text_desc {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #4f547b;
} */

/* .bott_left .bott_info {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  height: 16px;
} */

/* .bott_info .bott_info_main {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
  height: 100%;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #4f547b;
} */

/* .swiper-wrapper {
  display: flex;
  flex-direction: row;
} */

.swiper {
  overflow: hidden;
}

.swiper-pagination-bullet {
  width: 0;
  margin-left: 20px;
  width: 10px;
  height: 10px;
  text-align: center;
  opacity: 1;
  background: #29292a;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background: rgba(245, 76, 3, 0.773);
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: auto;
  display: flex;
  align-items: center;
}

/* Our Benefits */

.whyChoose {
  position: relative;
  display: block;
  margin-top: 140px;
}

.whyChooseContainer {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.whyChooseLeft {
  position: relative;
  display: block;
  float: left;
  width: 47%;
}

.whyChooseBg {
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  min-height: 764px;
  background-image: url('/public/homePage/why-choose-left-bg.ef1bd558.jpg');
}

.whyChooseToggle {
  position: absolute;
  top: 100px;
  right: 100px;
  height: 171px;
  width: 171px;
  background-color: #e8604c;
  box-shadow: 0 20px 20px 0 rgba(21, 29, 42, .1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-animation: fa-spin 5s ease infinite;
  animation: fa-spin 5s ease infinite;
  z-index: 1;
}

.whyChooseToggle:before {
  position: absolute;
  height: 11px;
  width: 25px;
  right: 32px;
  bottom: 0;
  content: "";
  background-image: url('/public/homePage/why-choo-toggle-shape.1f24a0c5.png');
  background-repeat: no-repeat;
  transform: rotate(-27deg);
  z-index: -1;
}

.whyChooseToggle p {
  font-size: 24px;
  color: white;
  margin: 0;
  line-height: 39px;
  text-align: center;
  /* font-family: var(--thm-reey-font); */
  position: relative;

}

.whyChooseRight {
  position: relative;
  display: block;
  float: right;
  width: 53%;
  background-color: #313041;
  padding: 123px 0 0px 120px;
}

.whyChooseRight:before {
  position: absolute;
  top: 120px;
  bottom: 120px;
  background-color: #e8604c;
  width: 12px;
  left: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  content: "";
}

.whyChooseRightMap {
  position: absolute;
  background-image: url('/public/homePage/why-choose-right-map.f0ca8326.png');
  bottom: 0;
  right: 0;
  height: 500px;
  width: 434px;
  opacity: .1;
}

.whyChooseRightContent {
  position: relative;
  display: block;
  max-width: 540px;
  width: 100%;
}

.sectionTittle {
  margin-bottom: 37px;
}

.sectionTitleTagline {
  display: block;
  color: #E8604C;
  font-size: 20px;
  align-items: center;
  line-height: 30px;
  font-weight: 400;
  /* font-family: var(--thm-reey-font); */
}

.sectionTitleTittle {
  margin: 0;
  font-weight: 700;
  color: white;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -.02em;
}

.whyChooseRightText {
  font-size: 18px;
  color: #a9a8b6;
  margin-top: 50px;
}

.whyChooseList {
  padding-left: 0;
  list-style: none;
}

.whyChooseList li {
  position: relative;
  display: flex;
}

.whyChooseList li .icon {
  position: relative;
  top: 30px;
  display: inline-block;
  transition: all .5s ease;
}

.whyChooseList li .icon span {
  font-size: 73px;
  color: #e8604c;
}

.iconTravel:before {
  content: url('/public/homePage/travelPlane.png');
}

.iconMap:before {
  content: url('/public/homePage/travelMap.png');

}

[class*=" icon-"],
[class^=icon-] {
  font-family: icomoon !important;
  /* speak: never; */
  font-style: normal;
  font-weight: 400;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.whyChooseList li .text {
  margin-left: 40px;
}

.whyChooseList li .text h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 11px;
  color: #fff;
}

.whyChooseList li .text p {
  font-size: 18px;
  color: #a9a8b6;
  font-weight: 500;
  margin: 0;
}

.whyChooseList li+li {
  margin-top: 40px;
}

.whyChooseList li {
  position: relative;
  display: flex;
}

/* reviews */

.reviews {
  height: 1229px;
  width: 100%;
}

.reviewsContainer {
  margin-top: 80px;
}

.reviewsAvatars img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.reviewsContainer .swiper-wrapper {
  position: relative;
  right: 8px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 764px;
  padding-left: 15px;
  padding-right: 45px;

}

.swiperEleBox {
  margin-top: 48px;
  /* position: relative; */
  display: block;
  background-color: #fff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .07);
  padding: 50px 50px 43px;
  text-align: center;
  height: 310px;
  border-radius: 0px 0px 6px 6px;
}

.swiperEleBox:before {
  position: absolute;
  top: 236px;
  left: 50%;
  transform: translateX(-50%);
  height: 19px;
  width: 63px;
  background-repeat: no-repeat;
  background-image: url('/public/review/testimonial-one-shape.png');
  content: "";
}

.reviewsDesc {
  margin: 0;
  line-height: 40px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.customerName {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.clientTitle {
  font-size: 14px;
  font-weight: 500;
  color: #e8604c;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 0;
  line-height: 40px;
}

.reviewsPagination {
  z-index: 1;
  width: 20px;
  height: 20px;
  margin-top: 30px;
}

.reviewsPaginationContainer {
  align-items: center;
}

.reviewBackground {
  position: relative;
  bottom: 550px;
  width: 100%;
  height: 550px;
  background-color: #FAF5EE;
}

.reviewBackgroundImg {
  position: relative;
  width: 100%;
  height: 100%;
}

/* articles */

.article {
  background: #FAF5EE;
  width: 100%;
  height: 868px;
}

.articlesRedButton {
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 700;
  text-transform: uppercase;
}

.articleContainerLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.articleContainer {
  margin-top: 40px;
  width: 370px;
  height: 641px;
  cursor: pointer;
}

.articleImg {
  width: 370px;
  height: 487px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('/public/destination/destination4.jpeg');
}

.articleImg .date {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E8604C;
  width: 64px;
  height: 64px;
  top: 423px;
  left: 307px;
  border-radius: 9px 0px;

}

.article .date span {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
}

.articleOneData {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
}

.articleAdmin {
  margin-left: 40px;
}

.icon {
  margin-right: 10px;
}

.span {
  color: #787780;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.articleDesc {
  margin-top: 300px;
  color: #000;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}


/* footer */

.footer {
  position: relative;
  height: 500px;
  flex-shrink: 0;
  background-color: #313041;
  background-image: url('/public/homePage/footerMap.png');
  background-repeat: no-repeat;
  background-position: right  top;
}
.footer .container{
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 1320px;
}

.footerMap {
  position: sticky;
  left: 100%;
}

.firstBlock {
  height: 404px;
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.footerIcon {
  width: 132px;
  height: 35px;
}

.firstBlockFirstEle {
  display: flex;
  height: 160px;
  justify-content: space-between;
}

.firstBlockSecondEle {
  display: flex;
  height: 140px;
  justify-content: space-between;
  margin-top: 30px;
}

.tell {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tell img {
  width: 20px;
  height: 20px;
}

.tell span {
  padding-left: 15px;
}

.footer span {
  color: #A9A8B6;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.333%;
  /* 18.667px */
}
.secondBlock{
  position: relative;
  top: 50px;
  margin-left: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 280px;
}
.secondBlock p{
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.333%;
}

.thirdBlock{
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 280px;
}

.thirdBlock p{
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.333%;
}

.forthBlock{
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 280px;
}

.forthBlock p{
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.333%;
}

.forthBlockEleBlock{
  width: 230px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.forthBlockEle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #FAF5EE;;
  cursor: pointer;
}

.footerSecondDevider{
  position: relative;
  top: 30px;
  z-index: 2;
}

.copyright{
  position: relative;
  margin-top: 50px;
  margin-left: 82.5%;
  color: #DEDEDE;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.333%; 
}