.css-klqxzq-MuiContainer-root {
  padding-left: 0px;
  padding-right: 0px;
}



.topNavCont {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.topNavCenterCont {
  width: 597px;
}

.topNavCenterCont a {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #787780;
  position: relative;
  text-decoration: none;
  padding-bottom: 33px;
  padding-top: 40px;
}

.topNavCenterCont .hover_line:after {
  display: block;
  content: "";
  border-bottom: solid 2px #E8604C;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.topNavCenterCont .hover_line:hover:after {
  transform: scaleX(1);
}

.underline {
  display: block;
  content: '';
  border-bottom: solid 2px #E8604C;
}

.topNavRightCont {
  width: 200px;
}

.topNavRightIcons {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAF5EE;
}

.topNavRightIcons1 {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* For search bar */
/* TODO START*/
form.animeSearch {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s; 
  width: 50px;
  height: 50px;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

input.animeSearchInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}


.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form.animeSearch:hover {
  width: 300px;
  cursor: pointer;
  transition: all 1s;
  left: 30px;
}

form.animeSearch:hover input {
  display: block;
  
}

form.animeSearch:hover .fa {
  background: #E8604C;
  color: white;
}


.topNavRightCont .topNavRightIcons:hover {
  background-color: #E8604C;
}
.css-14f5kl4-MuiAvatar-root:hover{
background-color: #E8604C;
}
/* TODO END*/

.label {
  height: 111px;
  width: 766px;
}

.homePageNavBackground {
  width: 100%;
  height: 692px;
  display: flex;
  background: url("/public/homePage/HomePageNav.jpg");
  background-size: cover;
}

.label .travel-adventures {
  color: #e8604c;
  font-family: "Oregano-Regular", Helvetica;
  font-size: 100px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 766px;
}

.slider {
  margin-top: 260px;
  align-items: center;
}

.clider_between_text_1 {
  margin-top: 230px;
  height: 111px;
  color: #E8604C;
  text-align: center;
  font-family: Oregano;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.clider_between_text_2 {
  color: #FFF;
  text-align: center;
  font-family: "DM Sans-Bold", Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;

}

.searchBar {
  height: 100px;
  background-color: white;
  margin-top: 247px;
  border-radius: 5px;
  box-shadow: 0px 0px 48.6px -18px rgba(75, 69, 69, 0.33);
}

.searchBarInputsBlock {
  width: 313.5px;
  margin-left: 30px;
}

.inputTitle {
  color: #787780;
  font-family: "DM Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 26px;
  margin-bottom: 9px;
}

.searchBarButton {
  width: 226px;
  border-radius: 0px 5px 5px 0px;
  box-shadow: inherit;
  transition: all .3s linear;
  font-weight: 600;
  text-transform: uppercase;
}


.searchBarInputs::placeholder {
  color: black;
}

.searchBarInputs {
  border: none;
  outline: none;
  color: #313041;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* date pickers style */

.react-datepicker {
  background: #fff none repeat scroll 0 0;
  font-size: 14px;
  padding: 5px;
  font-family: "DM Sans";
  width: 270px;
  box-shadow: 0px 5px 5px -3px rgb(228 228 228 / 20%), 0px 8px 10px 1px rgb(235 235 235 / 14%), 0px 3px 14px 2px rgb(110 110 110 / 12%);
}

div.react-datepicker {
  border: none;
}

.react-datepicker .react-datepicker__triangle {
  display: none;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
  top: 0;
  margin-top: -8px;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle {
  margin-left: -4px;
  position: absolute;
  width: 0;
}

.react-datepicker__triangle {
  position: absolute;
  left: 50px;
}

.react-datepicker .react-datepicker__navigation--next,
.react-datepicker .react-datepicker__navigation--previous {
  border-radius: 30%;
  height: 30px;
  position: absolute;
  top: 5px;
  width: 20px;
  transition: all .5s ease;
  cursor: pointer;
}

.react-datepicker .react-datepicker__navigation-icon {
  top: 4px;

}

.react-datepicker .react-datepicker__navigation--next {
  right: 3px;
}

.react-datepicker .react-datepicker__month-container {
  width: 100%;
  height: 100%;
}

.react-datepicker .react-datepicker__header {
  border: none;
  background-color: #fff;
  padding: 2px 0 8px;
}

.react-datepicker .react-datepicker__current-month {
  background: #e8604c;
  border: 2px solid #e8604c;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  position: relative;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.react-datepicker .react-datepicker__day-names {
  font-size: 13px;
  width: 100%;
  border: none;
  font-weight: 600;
}

.react-datepicker .react-datepicker__month {
  font-size: 13px;
  margin: 0 0 .4em;
  width: 100%;
}

.react-datepicker__day-names,
.react-datepicker__week {
  white-space: nowrap;
}

.react-datepicker .react-datepicker__day {
  color: #000 !important;
  text-align: center;
  background: #f5f5f5 !important;
  line-height: 2.5rem;
  margin: .1rem;
  width: 2.1rem;

}

.react-datepicker .react-datepicker__day--outside-month {
  visibility: hidden;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
  cursor: pointer;
}

.react-datepicker__day,
.react-datepicker__day-name,
.react-datepicker__time-name {
  color: #000;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: .166rem;
}

.react-datepicker .react-datepicker__day.react-datepicker__day--selected,
.react-datepicker .react-datepicker__day.react-datepicker__day--today {
  background: #333 !important;
  color: #fff !important;
  border-radius: 0 !important;
}

/* MUI multiple selector */

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none;
  margin: 0%;
  padding: 0%;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: white;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0%;
  outline: none;
  color: #313041;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

em {
  font-style: normal;
}

.css-17gux91-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: rgba(254, 112, 4, 0.08);
}

.css-1na279t-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  box-shadow: 0px 5px 5px -3px rgb(228 228 228 / 20%), 0px 8px 10px 1px rgb(235 235 235 / 14%), 0px 3px 14px 2px rgb(110 110 110 / 12%);
}

/* react slick */
.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-slider {
  margin-top: 200px;
  /* background-image:url('/public/homePage/HomePageNav.jpg'); */
  text-align: center;
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 500px;
}

.slickImg {
  width: 1320px;
  height: 500px;
}